@font-face {
    font-family: 'Lato';
    src: url(../../asset/Lato-Medium_0.ttf);
}

div {
    unicode-bidi: isolate;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.author-info img {
    border-radius: 100px;
    width: 50px;
}

.search-result-table {
    border-collapse: collapse;
}

.search-result-table-row-username-avatar,
.search-result-table-row-title,
.search-result-table-row-topic,
.search-result-table-row-purpose,
.search-result-table-row-likes,
.search-result-table-row-unlikes,
.search-result-table-row-comment,
.search-result-table-row-date-posted {
    padding: 8px;
    border-right: 1px solid #ddd;
}

.search-result-table-row-date-posted:last-child {
    border-right: none; 
}

.search-result-table-header-title {
    width: 285px;
}

.search-result-table-header-purpose {
    width: 200px;
}

.search-result-table th, .search-result-table td {
    padding: 8px;
    text-align: center;
}

.search-result-table th {
    background-color: orange;
    line-height: 40px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.search-result-table tbody {
    background-color: lightgoldenrodyellow;
    font-size: 15px;
}

/* Màu sắc cho chữ của từng chủ đề */
.topic-abuse {
    color: #00c62b;
}

.topic-stress {
    color: #a041e4;
}

.topic-depression {
    color: #096efb;
}

.topic-grief {
    color: #26713c;
}

.topic-relationships {
    color: #dbd80f;
}

.topic-dating {
    color: red;
}

.topic-finance {
    color: green;
}

.topic-children {
    color: orange;
}

.topic-school {
    color: rgb(109, 0, 252);
}

.topic-suicide {
    color: rgb(112, 112, 112);
}

.topic-lgbt {
    color: rgb(255, 0, 132);
}

.topic-nutrition {
    color: rgb(230, 192, 55);
}

.topic-health {
    color: rgb(246, 92, 112);
}

.topic-other {
    color: rgb(66, 215, 252);
}

/* Màu sắc cho chữ của từng mục đích */
.purpose-need-advice {
    color: red;
}

.purpose-give-advice {
    color: green;
}

.purpose-share {
    color: rgb(152, 6, 152);
}

.purpose-chat {
    color: rgb(0, 17, 255);
}

.search-result-table-row-username-avatar p {
    color: blue;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

.search-result-table-row-likes {
    color: rgb(21, 255, 0);
}

.search-result-table-row-unlikes {
    color: rgb(238, 6, 6);
}

.search-result-table-row-comment {
    color: rgb(0, 170, 255);
}


.search-result-table-row-date-posted {
    color: orange;
}

.search-result-table-row-username-avatar img {
    cursor: pointer;
}

td.search-result-table-row-title {
    width: 200px;
}

td.search-result-table-row-topic.topic-abuse {
    width: 250px;
}

td.search-result-table-row-purpose.purpose-share {
    width: 155px;
}

td.search-result-table-row.snippet {
    font-size: 17px;
    padding-bottom: 30px;
}